*{
    margin: 0;
    padding: 0;
    font-family: Comic Sans MS;
}
body{
    background: #f2f2f2;
}
nav{
    background: #1b1b1b;
}
nav:after{
    content: '';
    clear: both;
    display: table;
}
nav .logo{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
}
nav ul{
    float: right;
    list-style-type: none;
    margin-right: 40px;
    position: relative;
    transition: top .3s;
}
nav ul li{
    float: left;
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}
nav ul li a:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff;
                0 0 5px #66ffff;
}
nav ul ul{
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    
}
nav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a:hover{
    color: cyan;
    box-shadow: none;
}
.title{
    position: absolute;
    margin-top: 15%;
    margin-left: 40%;
    transform: translate(-50% -50%);
}
.title h1{
    text-align: center;
    font-size: 50px;
}
